do_token             = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
droplet_name         = "devOps"
image_name           = "debian-10-x64"
ssh_source_addresses = ["0.0.0.0/32"] # Replace with your actual IP if needed
volume_size          = 20
firewall_name        = "devOps"
filesystem_type      = "ext4"
filesystem_label     = "storage"
volume_description   = "debian-volume"
ssh_key_name         = "devOps"
ssh_key_path         = "~/.ssh/id_rsa.pub"




